
@font-face {
  font-family: 'iconfont';  /* project id 419370 */
  src: url('//at.alicdn.com/t/font_419370_ravqpuu5bxnr8uxr.eot');
  src: url('//at.alicdn.com/t/font_419370_ravqpuu5bxnr8uxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_419370_ravqpuu5bxnr8uxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_419370_ravqpuu5bxnr8uxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_419370_ravqpuu5bxnr8uxr.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}
